:root {
    --white: hsl(0, 0%, 100%);
    --subtle-grey: hsl(224, 30%, 27%, 0.8);
    --dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: "Hanken";
    src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Hanken bold";
    src: url("/assets/fonts/static/HankenGrotesk-Bold.ttf");
}

@font-face {
    font-family: "Haken bold extra";
    src: url("/assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: "Hanken", sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.4rem;
    align-items: stretch;
    margin: auto;
    box-shadow: 1px 1px 4px 1px hsl(221, 100%, 96%);
}

.result,
.summary {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 250px;
}

.result {
    background: linear-gradient(
        rgba(120, 87, 255, 1),
        rgba(46, 43, 233, 1) 
    );
    border-radius: 1.4rem;
    text-align: center;
}

.result > p:nth-of-type(1) {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--white);
    line-height: 24px;
}

.result > p:nth-of-type(2),
.result h3,
.score + p {
    color: hsl(0, 0%, 100%, 0.7);
}

.result > p:nth-of-type(2) {
    margin-top: auto;
    padding: 0 12px;
}

.summary {
    display: flex;
    flex-direction: column;
}

.summary h3 {
    color: var(--dark-gray-blue);
}

.circle {
    background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0.01)
    );
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    margin: 1rem auto;
    position: relative;
}

.score {
    font-size: 4rem;
    font-weight: bolder;
    color: var(--white);
}

.tile,
.tile > div {
    display: flex;
    align-items: center;
}

.tile {
    justify-content: space-between;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
}

.tile:nth-of-type(1) {
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 67%, 0.1);
}

.tile:nth-of-type(2) {
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 56%, 0.1);
}

.tile:nth-of-type(3) {
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 37%, 0.1);
}

.tile:nth-of-type(4) {
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%, 0.1);
}

.tile > p {
    color: hsl(224, 30%, 27%);
    font-weight: bold;
}

p > span {
    color: var(--subtle-grey);
    font-weight: bold;
}

img {
    padding-right: 12px;
}

button {
    background-color: var(--dark-gray-blue);
    color: var(--white);
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    border-radius: 3rem;
    border: none;
    font-weight: bold;
    margin-top: 24px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

h3 {
    padding-bottom: 24px;
}

footer {
    text-align: center;
    padding: 2px;
    font-size: 12px;
}

@media screen and (max-width: 550px) {
    .wrapper {
        flex-direction: column;
        box-shadow: none;
    }

    .wrapper,
    .result {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    
    .result,
    .summary {
        width: unset;
    }

    .result > p:nth-of-type(2) {
        /* got this one from the devtools computed */
        padding-top: 26px; 
    }
}

@media screen and (max-width: 340px) {

}
